{% extends "base.html" %} {% block head %}
<title>Personal Supplement</title>
<script type="application/javascript">
  window.addEventListener("custom_liffLoggedIn", async function () {
    document.querySelector(".hello").innerHTML = `
    สวัสดีค่ะ ${userProfile.displayName}
    `;
  });
</script>
{% endblock head %} {% block heroheader %}
<h2 class="subtitle hello is-block has-text-centered mt-6">สวัสดีค่ะ พี่</h1>
{% endblock heroheader %} {% block content %}

<div class="container q q-0">
  <div class="card">
    <div class="card-content">
      <div class="content">พี่เพศอะไรคะ</div>
      <div class="control has-text-center">
        <div>
          <label class="radio">
            <input
              type="radio"
              name="gender"
              value="ชาย"
              onClick="enableNextBtn(0)"
            />
            ชาย
          </label>
        </div>
        <div>
          <label class="radio">
            <input
              type="radio"
              name="gender"
              value="หญิง"
              onClick="enableNextBtn(0)"
            />
            หญิง
          </label>
        </div>
        <div>
          <label class="radio">
            <input
              type="radio"
              name="gender"
              value="อื่นๆ"
              onClick="enableNextBtn(0)"
            />
            อื่นๆ
          </label>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="" class="card-footer-item is-invisible">ก่อนหน้า</a>
      <a href="#" onclick="nextStep()" class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-1">
  <div class="card">
    <div class="card-content">
      <div class="content">ขอทราบอายุหน่อยค่ะ</div>
      <div class="field">
        <p class="control has-icons-right">
          <input
            class="input"
            type="number"
            min="18"
            max="80"
            name="age"
            onkeyup="if (parseInt(this.value,10)>=18 && parseInt(this.value,10)<=80){enableNextBtn(1);} else {disableNextBtn(1)}"
          />
          <span class="icon is-small is-right is-primary is-invisible">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a href="#" onclick="nextStep()" class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-2">
  <div class="card">
    <div class="card-content">
      <div class="content">พี่ทานอาหารเสริมบ้างไหมคะ</div>
      <div class="field">
        <div class="control">
          <div>
            <label class="radio">
              <input
                type="radio"
                name="useSupplement"
                value="ไม่ได้ทานเลย"
                onClick="enableNextBtn(2)"
              />
              ไม่ได้ทานเลย
            </label>
          </div>
          <div>
            <label class="radio">
              <input
                type="radio"
                name="useSupplement"
                value="ทานบ้าง"
                onClick="enableNextBtn(2)"
              />
              ทานบ้าง
            </label>
          </div>
          <div>
            <label class="radio">
              <input
                type="radio"
                name="useSupplement"
                value="ทานเยอะอยู่แล้ว"
                onClick="enableNextBtn(2)"
              />
              ทานเยอะอยู่แล้ว
            </label>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a href="#" onclick="nextStep()" class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-3">
  <div class="card">
    <div class="card-content">
      <div class="content">สัปดาห์หนึ่งพี่ออกกำลังกายบ่อยแค่ไหนคะ</div>
      <div class="field">
        <div class="control">
          <div>
            <label class="radio">
              <input
                type="radio"
                name="excercise"
                value="แทบจะไม่ได้ออกเลย"
                onClick="enableNextBtn(3)"
              />
              แทบจะไม่ได้ออกเลย
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="excercise"
                value="1-2 ครั้ง/สัปดาห์"
                onClick="enableNextBtn(3)"
              />
              1-2 ครั้ง/สัปดาห์
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="excercise"
                value="3-4 ครั้ง/สัปดาห์"
                onClick="enableNextBtn(3)"
              />
              3-4 ครั้ง/สัปดาห์
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="excercise"
                value="5 ครั้งขึ้นไป"
                onClick="enableNextBtn(3)"
              />
              5 ครั้งขึ้นไป
            </label>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a href="#" onclick="nextStep()" class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-4">
  <div class="card">
    <div class="card-content">
      <div class="content">โซนที่พักอาศัยของพี่เป็นแบบไหนคะ</div>
      <div class="field">
        <div class="control">
          <div>
            <label class="radio">
              <input
                type="radio"
                name="zone"
                value="อยู่ในเมือง"
                onClick="enableNextBtn(4)"
              />
              อยู่ในเมือง
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="zone"
                value="ชานเมือง"
                onClick="enableNextBtn(4)"
              />
              ชานเมือง
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="zone"
                value="ชนบท"
                onClick="enableNextBtn(4)"
              />
              ชนบท
            </label>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a href="#" onclick="nextStep()" class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-5">
  <div class="card">
    <div class="card-content">
      <div class="content">พี่ตากแดดบ้างมั๊ยคะ</div>
      <div class="field">
        <div class="control">
          <div>
            <label class="radio">
              <input
                type="radio"
                name="sun"
                value="น้อยกว่า 20 นาที"
                onClick="enableNextBtn(5)"
              />
              น้อยกว่า 20 นาที
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="sun"
                value="มากกว่า 20 นาที"
                onClick="enableNextBtn(5)"
              />
              มากกว่า 20 นาที
            </label>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a
        href="#"
        onclick="if (document.querySelector('input[name=sun]:checked').value == 'มากกว่า 20 นาที') {nextStep()} else {
      disableStep(5);
      enableStep(7);
    }"
        class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-6">
  <div class="card">
    <div class="card-content">
      <div class="content">ได้ทาครีมกันแดดไหมคะ</div>
      <div class="field">
        <div class="control">
          <div>
            <label class="radio">
              <input
                type="radio"
                name="sunscreen"
                value="ทา"
                onClick="enableNextBtn(6)"
              />
              ทา
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="sunscreen"
                value="ไม่ได้ทาเลย"
                onClick="enableNextBtn(6)"
              />
              ไม่ได้ทาเลย
            </label>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a
        href="#"
        onclick="nextStep()"
        class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-7">
  <div class="card">
    <div class="card-content">
      <div class="content">พี่สูบบุหรี่ไหมคะ</div>
      <div class="field">
        <div class="control">
          <div>
            <label class="radio">
              <input
                type="radio"
                name="cigarette"
                value="สูบ"
                onClick="enableNextBtn(7)"
              />
              สูบ
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="cigarette"
                value="ไม่สูบ"
                onClick="enableNextBtn(7)"
              />
              ไม่สูบ
            </label>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a
        href="#"
        onclick="if (document.querySelector('input[name=sun]:checked').value == 'มากกว่า 20 นาที') {prevStep()} else {disableStep(7); enableStep(5);}"
        class="card-footer-item"
        >ก่อนหน้า</a
      >
      <a href="#" onclick="nextStep()" class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-8">
  <div class="card">
    <div class="card-content">
      <div class="content">พี่ดื่มเหล้าไหมคะ</div>
      <div class="field">
        <div class="control">
          <div>
            <label class="radio">
              <input
                type="radio"
                name="alcohol"
                value="ไม่ดื่ม"
                onClick="enableNextBtn(8)"
              />
              ไม่ดื่ม
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="alcohol"
                value="1-6 แก้ว/สัปดาห์"
                onClick="enableNextBtn(8)"
              />
              1-6 แก้ว/สัปดาห์
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="alcohol"
                value="เกิน 6 แก้ว/สัปดาห์"
                onClick="enableNextBtn(8)"
              />
              เกิน 6 แก้ว/สัปดาห์
            </label>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a href="#" onclick="nextStep()" class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-9">
  <div class="card">
    <div class="card-content">
      <div class="content">ทานพักผลไม้ปริมาณเท่าไหร่ต่อวันคะ</div>
      <div class="field">
        <div class="control">
          <div>
            <label class="radio">
              <input
                type="radio"
                name="vegetables"
                value="ไม่ได้ทานเลย"
                onClick="enableNextBtn(9)"
              />
              ไม่ได้ทานเลย
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="vegetables"
                value="1-3 กำมือ"
                onClick="enableNextBtn(9)"
              />
              1-3 กำมือ
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="vegetables"
                value="4-6 กำมือ"
                onClick="enableNextBtn(9)"
              />
              4-6 กำมือ
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="vegetables"
                value="7 กำมือขึ้นไป"
                onClick="enableNextBtn(9)"
              />
              7 กำมือขึ้นไป
            </label>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a href="#" onclick="nextStep()" class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-10">
  <div class="card">
    <div class="card-content">
      <div class="content">
        <div>ทานอาหารที่มีแคลเซียมซักกี่อย่างต่อวันคะ</div>
        <div>เช่น นม เนย โยเกิร์ต เต้าหู้ ปลาเล็กปลาน้อย</div>
      </div>
      <div class="field">
        <div class="control">
          <div>
            <label class="radio">
              <input
                type="radio"
                name="calcium"
                value="1 อย่าง"
                onClick="enableNextBtn(10)"
              />
              1 อย่าง
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="calcium"
                value="2 อย่าง"
                onClick="enableNextBtn(10)"
              />
              2 อย่าง
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="calcium"
                value="3 อย่างขึ้นไป"
                onClick="enableNextBtn(10)"
              />
              3 อย่างขึ้นไป
            </label>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a href="#" onclick="nextStep()" class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-11">
  <div class="card">
    <div class="card-content">
      <div class="content">
        <div>เลือกประเภทอาหารที่ทานเป็นประจำค่าา~</div>
      </div>
      <div class="field">
        <div class="control">
          <div>
            <label class="radio">
              <input
                type="radio"
                name="food_type"
                value="ไม่ค่อยกิน healthy"
                onClick="enableNextBtn(11)"
              />
              ไม่ค่อยกิน healthy
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="food_type"
                value="กินครบ 5 หมู่"
                onClick="enableNextBtn(11)"
              />
              กินครบ 5 หมู่
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="food_type"
                value="วีแกน/เจ/มังสวิรัติ"
                onClick="enableNextBtn(11)"
              />
              วีแกน/เจ/มังสวิรัติ
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="food_type"
                value="ไม่กินนม"
                onClick="enableNextBtn(11)"
              />
              ไม่กินนม
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="food_type"
                value="คีโต"
                onClick="enableNextBtn(11)"
              />
              คีโต
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="food_type"
                value="Low Carb"
                onClick="enableNextBtn(11)"
              />
              Low Carb
            </label>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a href="#" onclick="nextStep()" class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-12">
  <div class="card">
    <div class="card-content">
      <div class="content">ปกติทานปลาทะเลกี่ครั้งต่อสัปดาห์คะ</div>
      <div class="field">
        <div class="control">
          <div>
            <label class="radio">
              <input
                type="radio"
                name="sea_fish"
                value="ไม่ได้ทานเลย"
                onClick="enableNextBtn(12)"
              />
              ไม่ได้ทานเลย
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="sea_fish"
                value="1 ครั้ง"
                onClick="enableNextBtn(12)"
              />
              1 ครั้ง
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="sea_fish"
                value="2 ครั้ง"
                onClick="enableNextBtn(12)"
              />
              2 ครั้ง
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="sea_fish"
                value="มากกว่า 2 ครั้ง"
                onClick="enableNextBtn(12)"
              />
              มากกว่า 2 ครั้ง
            </label>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a href="#" onclick="nextStep()" class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-13">
  <div class="card">
    <div class="card-content">
      <div class="content">หมอแนะนําให้เสริมธาตุเหล็กมั๊ยคะ</div>
      <div class="field">
        <div class="control">
          <div>
            <label class="radio">
              <input
                type="radio"
                name="iron"
                value="ใช่"
                onClick="enableNextBtn(13)"
              />
              ใช่
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="iron"
                value="ไม่ใช่"
                onClick="enableNextBtn(13)"
              />
              ไม่ใช่
            </label>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a href="#" onclick="nextStep()" class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-14">
  <div class="card">
    <div class="card-content">
      <div class="content">
        อยากทราบอาหารเสริมเบื้องต้น
        หรือต้องการข้อมูลอาหารเสริมเฉพาะทางเพิ่มเติมด้วยคะ
      </div>
      <div class="field">
        <div class="control">
          <div>
            <label class="radio">
              <input
                type="radio"
                name="need_detail"
                value="N"
                onClick="enableNextBtn(14)"
              />
              เอาแค่นี้
            </label>
          </div>

          <div>
            <label class="radio">
              <input
                type="radio"
                name="need_detail"
                value="Y"
                onClick="enableNextBtn(14)"
              />
              ต้องการแบบเฉพาะทางด้วย
            </label>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a
        href="#"
        onclick="if (document.querySelector('input[name=need_detail]:checked').value === 'Y') {nextStep()} else {
        generateResult(); disableStep(14); enableStep(16);
      }"
        class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>



<div class="container  q q-15">
  <div class="card">
    <div class="card-content">
      <div class="content">
        อยากดูแลด้านไหนเป็นพิเศษ เลือก 3 ข้อนะคะ
      </div>
      <div class="field">
        <div class="control">
          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="กระดูก"
                onClick="enableNextBtn(15);countSpecial();"
              />
              กระดูก
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="ข้อต่อ"
                onClick="enableNextBtn(15);countSpecial();"
              />
              ข้อต่อ
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="สมอง"
                onClick="enableNextBtn(15);countSpecial();"
              />
              สมอง
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="ระบบย่อยอาหาร (ท้องอืดท้องป่อง)"
                onClick="enableNextBtn(15);countSpecial();"
              />
              ระบบย่อยอาหาร/ท้องอืดท้องป่อง
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="ระบบย่อยอาหาร (อาหารไม่ย่อย)"
                onClick="enableNextBtn(15);countSpecial();"
              />
              ระบบย่อยอาหาร/อาหารไม่ย่อย
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="พลังงาน (ความสดชื่นกระปรี้กระเปร่า)"
                onClick="enableNextBtn(15);countSpecial();"
              />
              พลังงาน (ความสดชื่นกระปรี้กระเปร่า)
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="ตา"
                onClick="enableNextBtn(15);countSpecial();"
              />
              ตา
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="สมาธิ"
                onClick="enableNextBtn(15);countSpecial();"
              />
              สมาธิ
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="หัวใจ (หลอดเลือดหัวใจ)"
                onClick="enableNextBtn(15);countSpecial();"
              />
              หัวใจ (หลอดเลือดหัวใจ)
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="ข้อต่อ"
                onClick="enableNextBtn(15);countSpecial();"
              />
              ข้อต่อ
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="ภูมิต้านทาน (น้ำมูกไหลเหมือนแพ้ฝุ่น)"
                onClick="enableNextBtn(15);countSpecial();"
              />
              ภูมิต้านทาน/น้ำมูกไหลเหมือนแพ้ฝุ่น
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="ข้อต่อ"
                onClick="enableNextBtn(15);countSpecial();"
              />
              ข้อต่อ
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="ต่อมลูกหมาก"
                onClick="enableNextBtn(15);countSpecial();"
              />
              ต่อมลูกหมาก
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="ข้อต่อ"
                onClick="enableNextBtn(15);countSpecial();"
              />
              ข้อต่อ
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="การนอน"
                onClick="enableNextBtn(15);countSpecial();"
              />
              การนอน
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="ข้อต่อ"
                onClick="enableNextBtn(15);countSpecial();"
              />
              ข้อต่อ
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="ความเครียด"
                onClick="enableNextBtn(15);countSpecial();"
              />
              ความเครียด
            </label>
          </div>

          <div>
            <label class="checkbox">
              <input
                type="checkbox"
                name="special"
                value="ดูแลน้ำหนัก"
                onClick="enableNextBtn(15);countSpecial();"
              />
              ดูแลน้ำหนัก
            </label>
          </div>

        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a
        href="#"
        onclick="generateResult(); nextStep()"
        class="card-footer-item is-invisible"
        >ต่อไป</a
      >
    </footer>
  </div>
</div>

<div class="container q q-16">
  <div class="card">
    <div class="card-content">
      <div class="content">
        <h1 class="is-size-3">ข้อมูลของคุณ</h1>
        <div class="confirm-data"></div>
      </div>

    </div>
    <footer class="card-footer">
      <a href="#" onclick="prevStep()" class="card-footer-item">ก่อนหน้า</a>
      <a
        href="#"
        onclick="saveData()"
        class="card-footer-item is-invisible"
        >ส่งข้อมูล</a
      >
    </footer>
  </div>
</div>

<script type="application/javascript">
  const maxQuestion = document.querySelectorAll(".q").length;
  let step = 0;
  let answer = {};
  let submitData = {};
  // hide all questions except first question
  for (i = 1; i < maxQuestion; i++) {
    document.querySelector(".q-" + i).classList.add("is-hidden");
  }
  // setInterval(generateResult,1000)

  function enableNextBtn(stepId) {
    let elm = document.querySelector(
      ".q-" + stepId + "> .card >footer.card-footer>a:nth-last-child(1)"
    );
    elm.classList.remove("is-invisible");
    // elm.onClick = "nextStep()";

    elm = document.querySelector(".q-" + stepId + " .icon");
    if (elm) {
      elm.classList.remove("is-invisible");
    }
  }
  function disableNextBtn(stepId) {
    let elm = document.querySelector(
      ".q-" + stepId + "> .card >footer.card-footer>a:nth-last-child(1)"
    );
    elm.classList.add("is-invisible");
    // elm.onClick = "";

    elm = document.querySelector(".q-" + stepId + " .icon");
    if (elm) {
      elm.classList.add("is-invisible");
    }
  }
  function disableStep(id) {
    document.querySelector(".q-" + id).classList.add("is-hidden");
  }
  function enableStep(id) {
    document.querySelector(".q-" + id).classList.remove("is-hidden");
    step = id;
  }

  function nextStep() {
    disableStep(step);
    enableStep(step + 1);
  }

  function prevStep() {
    disableStep(step);
    enableStep(step - 1);
  }

  function generateResult() {
    const dataFields = [
      {
        title: "เพศ",
        query: "input[name=gender]:checked"
      },
      {
        title: "อายุ",
        query: "input[name=age]"
      },
      {
        title: "การทานอาหารเสริม",
        query: "input[name=useSupplement]:checked"
      },
      {
        title: "การออกกำลังกาย/ต่อสัปดาห์",
        query: "input[name=excercise]:checked"
      },
      {
        title: "โซนที่พักอาศัย",
        query: "input[name=zone]:checked"
      },
      {
        title: "การตากแดด",
        query: "input[name=sun]:checked"
      },
      {
        title: "ใช้ครีมกันแดด",
        query: "input[name=sunscreen]:checked"
      },
      {
        title: "การสูบบุหรี่",
        query: "input[name=cigarette]:checked"
      },
      {
        title: "การดื่มแอลกอฮอล์",
        query: "input[name=alcohol]:checked"
      },
      {
        title: "ปริมาณการทานผักผลไม้",
        query: "input[name=vegetables]:checked"
      },
      {
        title: "ทานอาหารที่มีแคลเซียม",
        query: "input[name=calcium]:checked"
      },
      {
        title: "ประเภทอาหารที่ทานประจำ",
        query: "input[name=food_type]:checked"
      },
      {
        title: "จำนวนครั้งที่ทานปลาทะเลต่อสัปดาห์",
        query: "input[name=sea_fish]:checked"
      },
      {
        title: "คำแนะนำเรื่องการเสริมธาตุเหล็กจากคุณหมอ",
        query: "input[name=iron]:checked"
      },
      {
        title: "ต้องการข้อมูลแบบเฉพาะทาง",
        query: "input[name=need_detail]:checked"
      }
    ]
    submitData = {}
    const dataElement = document.querySelector(".confirm-data")
    let html = "";
    for (dataField of dataFields) {
      const el = document.querySelector(dataField.query)
      // console.log('querying ', dataField.query, el)
      html += "<div class='columns'>"
        html += "<div class='column'>"
          html += dataField.title
        html += "</div>"
        html += "<div class='column'>"
          html += el ? el.value:"ไม่พบข้อมูล"
        html += "</div>"
      html += "</div>"

      submitData[dataField.title] = el ? el.value:"ไม่พบข้อมูล"
    }
    submitData['special1'] = "";
    submitData['special2'] = "";
    submitData['special3'] = "";
    const specials = document.querySelectorAll('input[name=special]:checked')
    if (specials.length > 0) {
      for (i = 0; i < specials.length; i++) {
        submitData['special'+(i+1)] = specials[i].value
      }
      html += "<div class='columns'>"
        html += "<div class='column'>"
          html += "ข้อมูลเฉพาะทาง"
        html += "</div>"
        html += "<div class='column'>"
          html += [submitData['special1'], submitData['special2'], submitData['special3']].filter(s=>s!=='').join(", ")
        html += "</div>"
      html += "</div>"
    }

    submitData['lineId'] = userProfile.userId

    console.log(submitData)
    axios.post("/api/personal-supplement",submitData)
      .then(function() {
        return liff.sendMessages([
          {
            type: "text",
            text: "ดูผลการแนะนำสารอาหารหน่อย"
          }
        ])
      })
      .then(function(){
        liff.closeWindow()
      })
    dataElement.innerHTML = html
  }

  function countSpecial() {
    const selectedElements = document.querySelectorAll("input[name=special]:checked")
    const nonSelectedElements = document.querySelectorAll("input[name=special]:not(:checked)")
    nonSelectedElements.forEach(function(elm){
        elm.disabled = selectedElements.length === 3
      })
    if (selectedElements.length === 0) {
      disableNextBtn(15)
    }
  }
</script>
{% endblock content %}
